[submodule "sorc/FVCOM.fd"]
	path = sorc/FVCOM.fd
	url = https://github.com/asascience/FVCOM.git
	branch = ioos-sb-coops-prod
[submodule "sorc/FVCOM.dev.fd"]
	path = sorc/FVCOM.dev.fd
	url = https://github.com/asascience/FVCOM.git
	branch = ioos-sb-coops-dev
